<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Resultados de Búsqueda - REVE</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
    <!-- Hooks -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@300&family=Gideon+Roman&display=swap" rel="stylesheet">
</head> 
<body>

    <!-- COMIENZO NAVBAR -->
    <div class="navbar">
        <div class="navbar-links">
        <a href="index.html">Inicio</a>
        <a href="#">Mis Solicitudes</a>
        <a href="#">Mis Publicaciones</a>
        </div>
        <div class="navbar-right">
        <span class="navbar-title">REVE</span>
        </div>
    </div>
    <!-- FIN NAVBAR -->

    <div class="hero-section-absolute"></div>

    <div class="card-rent-container">
        <div class="card-rent-request">
            <div class="card-info-wrapper">
                <span class="card-title-rent-request">Nueva Publicacion</span>

                <div class="info-owner-wrapper">
                    <span class="card-title-rent">Datos del Propietario</span>
                    <div class="date-wrapper">
                        <div class="date-from">
                            <span>Nombre y Apellido</span>
                            <input type="text" class="input-date">
                        </div>

                        <div class="date-to">
                            <span>Direccion</span>
                            <input type="text" class="input-date">
                        </div>
                    </div>
                    <div class="date-wrapper">
                        <div class="date-from">
                            <div style="display: flex; flex-direction: row; gap: 5px">
                                <i class="fa fa-whatsapp"></i><span>Whatsapp</span>
                            </div>  
                            <input type="text" class="input-date">
                        </div>

                        <div class="date-to">
                            <div style="display: flex; flex-direction: row; gap: 5px">
                                <i class="fa fa-envelope"></i><span>Correo Electronico</span>
                            </div>  
                            <input type="text" class="input-date">
                        </div>
                    </div>
                </div>

                <hr class="card-divider">

                <div class="info-owner-wrapper">
                    <span class="card-title-rent">Datos del Vehiculo</span>
                    <div class="date-wrapper">
                        <div class="date-from">
                            <span>Marca</span>
                            <select v-model="marca" name="marca" id="marca" class="input-date">
                                <option>Volkswagen</option>
                                <option>Mercedes</option>
                                <option>Ferrari</option>
                            </select>
                        </div>

                        <div class="date-to">
                            <span>Modelo</span>
                            <select v-model="modelo" name="modelo" id="modelo" class="input-date">
                                <option>Polo</option>
                                <option>Suran</option>
                                <option>Gol Trend</option>
                                <option>Golf</option>
                                <option>UP</option>
                            </select>                        
                        </div>
                    </div>
                    <div class="date-wrapper">
                        <div class="date-from"> 
                            <span>Color</span>
                            <select v-model="color" name="color" id="color" class="input-date">
                                <option>Negro</option>
                                <option>Blanco</option>
                                <option>Gris</option>
                                <option>Bordo</option>
                                <option>Azul</option>
                            </select>  
                        </div>

                        <div class="date-to">
                            <span>Capacidad</span>
                            <input v-model="capacidad" type="number" class="input-date">
                        </div>
                    </div>
                    <div class="date-wrapper">
                        <div class="date-from"> 
                            <span>Puertas</span>
                            <input v-model="puertas" type="number" class="input-date">
                        </div>

                        <div class="date-to">
                            <span>Kilometros</span>
                            <input v-model="km" type="number" class="input-date">
                        </div>
                    </div>
                    <div class="date-wrapper">
                        <div class="date-from"> 
                            <span>Precio Por Dia</span>
                            <input v-model="precio" type="number" class="input-date">
                        </div>

                        <div class="date-to">
                            <span>Comentarios (opcional)</span>
                            <input v-model="comentarios" type="text" class="input-date">
                        </div>
                    </div>
                </div>
                
                <!-- CARRUSEL IMAGENES -->

                <section class="container-slider">
                    <div class="slider-wrapper">
                        <div class="slider">
                            <img id="slide-1" src="images/suran_1.jfif" alt="GOL Trend foto 1" />
                            <img id="slide-2" src="images/suran_2.jfif" alt="GOL Trend foto 2" />
                            <img id="slide-3" src="images/suran_3.jfif" alt="GOL Trend foto 3" />
                        </div>
                        <div class="slider-nav">
                            <a href="#slide-1" data-target="slide-1"></a>
                            <a href="#slide-2" data-target="slide-1"></a>
                            <a href="#slide-3" data-target="slide-1"></a>
                        </div>
                    </div>
                </section>

                <hr class="card-divider">

                 <!-- TERMINOS Y CONDICIONES -->
                 <div class="info-owner-wrapper">
                    <span class="card-title-rent tyc">TERMINOS Y CONDICIONES <a href="https://pastebin.com/9WcYsKLe" target="_blank" style="color: black; text-decoration: none;">(click aquí)</a></span>
                    <div class="tyc-wrapper">
                        <input type="checkbox">
                        <span class="card-owner-subtitle">He leido y aceptado los Terminos y Condiciones</span>
                    </div>
                    <button class="button-rent-request">Crear Nueva Publicacion</button>
                </div>

                
            </div>
        </div>
    </div>

    <!-- COMIENZO FOOTER-->
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-section">
                <h3>Contacto</h3>
                <div class="footer-item-wrapper"><i class="fas fa-envelope"></i> soporte@reve.com</div>
                <div class="footer-item-wrapper"><i class="fa-brands fa-telegram"></i> Telegram</div>

            </div>
            <div class="footer-section">
                <h3>Síguenos</h3>
                <div  href="#" class="footer-item-wrapper"><i class="fab fa-instagram"></i> Instagram</div>
                <div  href="#" class="footer-item-wrapper"><i class="fab fa-twitter"></i> Twitter</div>
            </div>
        </div>
        <div class="footer-bottom">
            <span>&copy; 2023 REVE. Todos los derechos reservados. REVE es propiedad de Acople SA.</span>
        </div>
    </footer>
    <!-- FIN FOOTER-->

<script src="https://kit.fontawesome.com/a503cae86c.js" crossorigin="anonymous"></script>
</body>
</html>
